
body{
    background-color: rgb(6, 24, 19);
}
.row-height {
    height: 70px;
    text-align: center;
    padding-top: 25px;
}

.col-md-12 {
    background-color:green;
}
.block
    {
       
color: rgb(222, 220, 255);
    }

    col-2:hover i {
        transform: scale(1.5);
    }
        .nav
        {
            text-align: center;
        }
        .mx-auto {

      
        max-width: 30%;
        text-align: center;
        }
        .mt-3   {
            background-color: firebrick;
        }
        .footer-parts-h3
        {
            color:blanchedalmond;
        }
        .footer-parts-p{
            color:blanchedalmond;
        }
        .footer-icons{
            color:blanchedalmond;
        }
        .content-part-3
        { width:1200px; float:left; padding:20px 0px;
        }

        .img{ width:90%; height:auto;}
        .content-part-3-left
        {
            color: blanchedalmond;
        }
        .content-part-3-right-h4{
            color: blanchedalmond;
        }
        .price{
            color: blanchedalmond;
        }
            
            .col-md-6,.col-12,.col-md-4,.col-md-2
            {
                color: white;
            }

            .carousel-inner img {       
                display:block;
                height: auto; 
                max-width: 100%;
             }